

{% extends 'mailing/base.html' %}

{% block title %}Запуск  рассылки{% endblock %}

{% block content %}


    <div class="container mt-5">
        <h1 class="mb-4">Запустить рассылку</h1>
        <p>Вы уверены, что хотите запустить "{{mailing.message.subject }}"?</p>
        <form action="{% url 'mailing:mailing_send' mailing.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">Отправить рассылку</button>
        </form>
        <a href="{% url 'mailing:mailing_list' %}" class="btn btn-primary btn-lg">Отмена</a>

    </div>


    <script src="/static/js/bootstrap.bundle.min.js"></script>

{% endblock %}