{% extends 'mailing/base.html' %}

{% block title %}Добавить/Редактировать получателя{% endblock %}

{% block content %}

        <h4 class="mb-4">Список получателей</h4>

            {% if perms.user.mailing_permission %}
                <a href="{% url 'mailing:recipient_create' %}" class="btn btn-primary mb-3">Создать получателя</a>
            {% endif %}





        <ul class="list-group">
            {% for recipient in recipients %}
            <div class="post">
                <a href="{% url 'mailing:recipient_update' recipient.pk %}">{{ recipient.full_name }}</a>
            </div>


            {% endfor %}
        </ul>

{% endblock %}