{% extends "mailing/base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
   <div class="row text-center">
        <div class="col-6 ">
            <div class="card mb-4 box-shadow start-50">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Вход </h4>
                </div>


                <div class="card-body">
                     <form method="post">
                     {% csrf_token %}
                     {{ form.as_p }}
                         {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">✖</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
                     <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Войти</button>
                      <a href="{% url 'users:password_reset' %}" class="btn btn-danger">Восстановить пароль</a>

                     </form>

                </div>
            </div>
        </div>
   </div>



{% endblock %}